{
  "hotkeys": {
    "correct": [
      "Option",
      "KeyH"
    ],
    "summarize": [
      "Option",
      "KeyM"
    ],
    "buffer_start": [
      "Option",
      "KeyB"
    ],
    "buffer_flush": [
      "Option",
      "KeyF"
    ]
  },
  "stt_engine": "os",
  "locale": "ja",
  "llms": [
    {
      "name": "dummy",
      "base_url": "https://api.openai.com/v1",
      "api_key": "sk-your-openai-api-key-here",
      "model": "gpt‑4.1‑nano"
    }
  ],
  "stt": {
    "num_threads": 4,
    "vad_type": "silero",
    "vad_model_path": null,
    "vad_threshold": 0.5,
    "vad_min_silence_duration": 0.2,
    "vad_min_speech_duration": 0.05,
    "vad_max_speech_duration": 25.0,
    "vad_pre_padding_ms": 200,
    "utterance_min_ms": 300,
    "window_max_ms": 25000,
    "use_punctuation": true,
    "use_script_filter": true,
    "use_denoiser": true,
    "denoiser_model_path": "gtcrn.onnx",
    "fuzzy_threshold": 0.3,
    "signal_check_enabled": true,
    "signal_rms_threshold": 0.001,
    "signal_occupancy_ratio": 0.1,
    "post_correction_sentence_count_threshold": 5,
    "post_correction_min_text_length": 10,
    "post_correction_interval_ms": 3000
  },
  "server": {
    "rt_proto": "http",
    "rt_host": "localhost",
    "rt_port": 8888,
    "rt_skey": "6JsfNZwZgc4VvDZyvhebvjVz/+J3IkKpvkb++HYc39Y/=",
    "rt_crypto_key": "u0=-yJK67Q%zBE)68g1+2326qd)kZysl",
    "sw_port": 8889,
    "cors_on_rt": true,
    "rt_crypto_key_rotation_days": 90,
    "last_rotated_at": "2026-02-05T06:51:44.942214+00:00",
    "my_base_url": "http://localhost:8888",
    "ca_renew_window_days": 7
  },
  "storage": {
    "s3_use_local": true,
    "s3_access_key": "dummy",
    "s3_secret_access_key": "dummy",
    "s3_region": "dummy",
    "s3_bucket": "dummy",
    "s3_min_free_disk": 15,
    "rw_db": {
      "driver": "sqlite",
      "host": "mycute.sqlite",
      "port": "",
      "user": "",
      "pass": ""
    },
    "ro_dbs": [
      {
        "driver": "sqlite",
        "host": "mycute.sqlite",
        "port": "",
        "user": "",
        "pass": ""
      }
    ]
  },
  "cuber": {
    "crypto_secret_key": "bDRe9DD3tBaG47Ygb8-c6Fn9_3F-LyhM",
    "debug": true,
    "storage_idle_timeout_minutes": 60,
    "s3_cleanup_interval_minutes": 60,
    "s3_retention_hours": 24,
    "memify_max_chars": 50000,
    "memify_overlap_percent": 20,
    "memify_batch_min_chars": 5000
  },
  "window_position": {
    "mode": "bottom_left",
    "top": 0,
    "bottom": 20,
    "left": 20,
    "right": 0
  },
  "proxy_certificate": null,
  "proxy_private_key": null,
  "osca_certificate": null,
  "osca_private_key": null,
  "osca_expire": null,
  "my_pub": null,
  "my_sec": null,
  "my_rem": null,
  "my_cat": null
}